server:
  port: 8081

spring:
  application:
    name: SERVICE-CLIENT

  datasource:
    url: jdbc:h2:mem:clientservicedb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
    hikari:
      maximum-pool-size: 5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        register: true
        service-name: SERVICE-CLIENT
        health-check-path: /actuator/health

management:
  endpoints:
    web:
      exposure:
        include: health,info
